option option-128 code 128 = string;
option option-129 code 129 = text;
option domain-name-servers _NAMESERVERS_;
option routers _GATEWAY_;
default-lease-time _DEFAULT-LEASE-TIME_;
max-lease-time _MAX-LEASE-TIME_;
allow duplicates;
next-server _MYIP_;

subnet _SUBNET_ netmask _NETMASK_ {
    range _RANGE_;

    # fixed host example
    #host hostnam1 {
    #        hardware ethernet 00:50:56:88:70:90;
    #        fixed-address 10.19.88.248;
    #}
}
